<article>

<h1>Yatte: a simple task runner</h1>

<p><a href="https://en.wikipedia.org/wiki/Make_(software)">Make</a> and Bash are useful tools
but the syntax can be tricky,
especially if you’re writing Bash inside a Makefile.
And sometimes you need the flexibility and expressivity of a proper programming language with a standard library.</p>

<p>If you know Ruby, you’re probably already familiar with <a href="http://docs.seattlerb.org/rake">Rake</a>;
and for Python there’s <a href="https://www.pyinvoke.org/">Invoke</a>.
But maybe you don’t want to invest time in learning a new tool and its idiosyncracies.</p>

<p><strong>Yatte</strong> is for when you just want to write a Python script and get back to work.</p>

<section>
<p>Design goals achieved:</p>
<ul>
  <li>No new syntax for the user to learn: it’s just plain Python.</li>
  <li>The user manual fits on an A4 page.</li>
  <li>Implemented in &lt; 400 lines of Python, including comprehensive tests.</li>
  <li>No run-time dependencies except the standard library.</li>
</ul>
</section>

<section>
<p>The <a href="quickstart.html">Quickstart</a> describes how to use Yatte.</p>
</section>

<section>

<dl>
  <dt>Latest version</dt>
  <dd>0.10.0 (2024-08-27)</dd>

  <dt>License</dt>
  <dd>BSD 3-Clause</dd>

  <dt>Project links</dt>
  <dd><a href="https://javiljoen.srht.site/yatte/">Documentation</a></dd>
  <dd><a href="https://git.sr.ht/~javiljoen/yatte/">Source code</a></dd>
  <dd><a href="https://lists.sr.ht/~javiljoen/yatte/">Mailing list</a></dd>
</dl>

</section>

</article>
