<article>

<h1>Installation</h1>

<p>The package can be installed from PyPI using <code class="cmd">pip</code>:</p>

<pre><code><span class="gp">$ </span>pip install yatte</code></pre>

<p>The only run-time dependency is Python itself.</p>

<p><em>Note:</em>
  It has only been tested on Linux so far, but it should work on other platforms.
  Please let me know on the <a href="https://lists.sr.ht/~javiljoen/yatte">mailing list</a>
  if you run into any issues.</p>

<section><h2>Manual</h2>

<p>The manual page for the <code class="cmd">yatte</code> command-line interface (CLI)
  can be viewed <a href="manual.html">online</a>.</p>

<p>Once <code>yatte</code> is installed on your system,
  you can view the same information locally by running <code class="cmd">yatte --help</code>.</p>

<p>If you prefer to view the manual with <code class="cmd">man yatte</code>,
  download <a href="yatte.1">the <code>man</code>-format file</a>
  and place it on your <code>$MANPATH</code>,
  e.g. in <code>~/.local/share/man/man1/</code>.</p>

</section>

<section><h2>Tab-completion</h2>

<p>To get tab-completion of tasks for the Fish shell,
  download <a href="yatte.fish">the <code>yatte.fish</code> script</a>
  and place it in your Fish completions folder
  (<code>~/.config/fish/completions/</code> on Linux).</p>

</section>

</article>
